{% load my_tags %}
<div class="col-lg-auto mx-lg-5" style="width: 20vw;">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal"> {{ object.name }} </h4>
        </div>
        <div class="card-body">
            <img src="{{object.photo|mediapath}}" class="card-img-top" alt="No image" style="width: 10vw ;height: 10vw">
            <h1 class="card-title pricing-card-title">$ {{ object.price }}</h1>
            <p class="card-text"> {{ object.category }}</p>
            <p class="d-inline-block text-truncate text-wrap"
                  style="max-height: 7ch; max-width: 25ch;"> {{ object.description }}</p>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">
                Купить
            </button>
        </div>
    </div>
</div>